<%= form_for @janken, :html => { :class => "form-horizontal janken" } do |f| %>

    <% if @janken.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@janken.errors.count, "error") %> prohibited this janken from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @janken.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user, :class => 'form-control' %>
    </div>
    <%= error_span(@janken[:user]) %>
  </div>
  <div class="control-group">
    <%= f.label :enemy, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :enemy, :class => 'form-control' %>
    </div>
    <%= error_span(@janken[:enemy]) %>
  </div>
  <div class="control-group">
    <%= f.label :userhand, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :userhand, :class => 'form-control' %>
    </div>
    <%= error_span(@janken[:userhand]) %>
  </div>
  <div class="control-group">
    <%= f.label :enemyhand, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :enemyhand, :class => 'form-control' %>
    </div>
    <%= error_span(@janken[:enemyhand]) %>
  </div>
  <div class="control-group">
    <%= f.label :judge, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :judge, :class => 'form-control' %>
    </div>
    <%= error_span(@janken[:judge]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            jankens_path, :class => 'btn btn-default' %>

<% end %>
