


<section class="container">
  <h1>受けて立つ！</h1>
  <h3>@<%= @enemy %>さん、@<%= @user %>さんからの挑戦だ！</h3>
    <%= form_tag({:action => "update_battle"}, 
      {:method => "post", :class => "form-horizontal"}) do %>
      <%= hidden_field_tag('id', @id) %>
      <div class='form-group'>
        <label class="control-label col-xs-2">手</label>
        <div class="col-xs-5">
          <%= number_field_tag('enemyhand', '0') %><br>
          グー:0 チョキ:1 パー:2
        </div>
      </div>

      <div class='form-group'>
        <div class="col-xs-offset-2 col-xs-10">
          <%= submit_tag("Poi!", :class => 'btn btn-primary btn-md') %>
        </div>
      </div>
    <% end %>
</section>
