<%- model_class = Janken -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:enemy) %></th>
      <th><%= model_class.human_attribute_name(:userhand) %></th>
      <th><%= model_class.human_attribute_name(:enemyhand) %></th>
      <th><%= model_class.human_attribute_name(:judge) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jankens.each do |janken| %>
      <tr>
        <td><%= link_to janken.id, janken_path(janken) %></td>
        <td><%= janken.user %></td>
        <td><%= janken.enemy %></td>
        <td><%= janken.userhand %></td>
        <td><%= janken.enemyhand %></td>
        <td><%= janken.judge %></td>
        <td><%=l janken.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_janken_path(janken), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      janken_path(janken),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_janken_path,
            :class => 'btn btn-primary' %>
