<section class="container">
  <h1>勝負だ！</h1>
    <%= form_tag({:action => "update"}, 
    {:method => "post", :class => "form-horizontal"}) do %>
      <div class='form-group'>
        <label class="control-label col-xs-2">対戦相手</label>
        <div class="col-xs-5">
          @<%= text_field_tag("enemyname") %>
        </div>
      </div>
      
      <div class='form-group'>
        <label class="control-label col-xs-2">手</label>
        <div class="col-xs-5">
          <%= number_field_tag('userhand', '0') %><br>
          グー:0 チョキ:1 パー:2
        </div>
      </div>

      <div class='form-group'>
        <div class="col-xs-offset-2 col-xs-10">
          <%= submit_tag("Poi!", :class => 'btn btn-primary btn-md') %>
        </div>
      </div>
    <% end %>
</section>