<%- model_class = Janken -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @janken.user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enemy) %>:</strong></dt>
  <dd><%= @janken.enemy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:userhand) %>:</strong></dt>
  <dd><%= @janken.userhand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enemyhand) %>:</strong></dt>
  <dd><%= @janken.enemyhand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:judge) %>:</strong></dt>
  <dd><%= @janken.judge %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              jankens_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_janken_path(@janken), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              janken_path(@janken),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
