<!DOCTYPE html>
<html>
<head>
  <title>Jankens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Jankens", "/", :class => "navbar-brand"%>
        </div>
        <% if signed_in? %>
          <ul class="nav navbar-nav">
            <li>
              <a href="#">
                @<%= session[:username] %>
              </a>
            </li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <% if signed_in? %>
                <%= link_to "Sign out", "/signout" %>
              <% else %>
                <%= link_to "Sign in with Twitter", "/auth/twitter" %>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </header>

  <%= yield %>
</body>
</html>
